/* Navbar styles */
nav {
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 4px solid var(--color-bg);
  backdrop-filter: blur(20px);
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--color-gray-700);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 5rem; /* Adjust to match nav height */
  margin: 0;
}

.container {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
}

.form_area {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EDDCD9;
  height: auto;
  width: auto;
  border: 2px solid #264143;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px #E99F4C;
}

.title {
  color: #264143;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
}

.sub_title {
  font-weight: 600;
  margin: 5px 0;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #E99F4C;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form_style:focus, .btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #E99F4C;
}

.btn {
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  font-size: 15px;
  background: #DE5499;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #E99F4C;
}

.btn:hover {
  opacity: .9;
}

.link {
  font-weight: 800;
  color: #264143;
  padding: 5px;
}

.error_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

footer {
  width: 100vw;
  background: var(--color-gray-900);
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.footer_categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.footer_categories a {
  background: var(--color-gray-700);
  color: var(--color-white);
  padding: 0.6rem 1.4rem;
  border-radius: var(--radius-2);
  transition: var(--transition);
}

.footer_categories a:hover {
  background: var(--color-white);
  color: var(--color-gray-900);
}

.footer_copyright {
  text-align: center;
  border-top: 2px solid var(--color-gray-700);
  padding: 1rem;
  color: var(--color-white);
  font-weight: 300;
}
